%hr
- if @players.present?
  %table{class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Positions
        %th &nbsp;
      - @players.each do |p|
        %tr
          %td= p.first_name
          %td= p.last_name
          %td= p.positions.map(&:name).join(", ")
          %td= link_to 'View Games', games_player_path(p), remote: true
- else
  .no_results No Players Found
